@model Article
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("HeroImage")
    @Html.Partial("MainTitle")
    @Html.Partial("Standfirst")
    @Html.Partial("ArticleDetails")
    @Html.Partial("BodyText")
</div>
