@model Zone.UmbracoTemplateEngine.Website.ContentTypes.Content.Article
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("_HeroImage")
    @Html.Partial("_MainTitle")
    @Html.Partial("_Standfirst")
    @Html.Partial("_ArticleDetails")
    @Html.Partial("_BodyText")
</div>
